<?xml version="1.0"?>
<config>
	<testmode>true</testmode>
	<client name="TacticalStation">127.0.0.1:12004</client>
	<client name="EngineerStation">127.0.0.1:12001</client>
	<client name="PilotStation">127.0.0.1:12002</client>
	<client name="ModStation">127.0.0.1:12005</client>
	<client name="Tablet">192.168.0.12:12005</client>
	<client name="CommsStation">127.0.0.1:12003</client>
	<client name="OldModStation">127.0.0.1:12005</client>
	<useChaseCam>true</useChaseCam>
	<resolutionWidth>800</resolutionWidth>
	<resolutionHeight>600</resolutionHeight>
	<useWebcam>true</useWebcam>
	
</config>
